.accent-form {
    width: 100%;
}

.accent-form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.accent-form__fields {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.accent-form__field, .accent-modal__field {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.2s ease;
    background: #fafafa;

    &:focus {
        border-color: #ff7e0d;
        background: #fff;
        box-shadow: 0 0 0 2px rgba(255, 126, 13, 0.15);
        outline: none;
    }
}

.accent-form__field-wrapper {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.accent-modal__field-wrapper {
    display: flex;
    flex-direction: column;
}

.accent-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    opacity: 0;
    transform: translate(-50%, -40%) scale(0.95);
    pointer-events: none; /* блокируем клики когда закрыта */
    z-index: 0;

    transition: opacity 0.25s ease, transform 0.25s ease;

    &.accent-modal--active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: auto; /* клики разрешены при открытой модалке */
        z-index: 10;
    }
}

.accent-modal__wrapper {
    width: 100%;
    padding: 2rem 1.5rem;
    position: relative;
    border-radius: 15px;

    &.accent-background {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
    }
}

.accent-modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
    user-select: none;
    outline: none;

    svg {
        stroke-color: #333;
        width: 20px;
        height: 20px;
    }

    &:hover {
        opacity: 1;
        transform: rotate(90deg);
    }
}

.accent-form__header {
    font-size: 32px;
}

.accent-modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.accent-modal__buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.accent-form__generate-data, .accent-form__submit-modal  {
    width: 100%;
}

.accent-form__buttons {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
}

.accent-form__add-teacher {
}

.accent-form__submit-form {
}