.accent-form {
	width: 100%;
}

.accent-form__wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.accent-form__fields {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.accent-form__field-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.accent-form__header {
	font-size: 32px;
}

.accent-form__generate-data,
.accent-form__submit-modal {
	width: 100%;
}

.accent-form__buttons {
	display: flex;
	justify-content: start;
	gap: 1rem;
	flex-wrap: wrap;
}
