.email-generator,
.password-generator {
    display: flex;
    gap: 0.5rem;

    input {
        flex: 1;
    }

    svg {
        fill: #fff;
        transition: transform 0.3s ease;
    }

    &:active {
        transform: scale(0.95);
    }

    button {
        white-space: nowrap;

        &:hover {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.email-generator__wrapper, .password-generator__wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
}